In [15]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
from operator import add
import pyspark.sql.functions as f

In [16]:
sc = SparkContext("local[2]", "NetworkWordCount")

In [17]:
sqlContext = SQLContext(sc)

In [18]:
books = sc.textFile("file:///home/krtika/*.txt")

In [19]:
words = books.flatMap(lambda line: line.split(" "))

In [20]:
pairs = words.map(lambda word:(word, 1))

In [21]:
word_counts = pairs.reduceByKey(lambda c1, c2: c1+c2)

In [22]:
df = sqlContext.createDataFrame(word_counts, ['word','count'])

In [26]:
df.sort("count", ascending=False).show()

+-----+-----+
| word|count|
+-----+-----+
|     | 8140|
|  the| 5236|
|  and| 2913|
|   to| 2475|
|    a| 2250|
|   of| 2220|
|   in| 1504|
|  was| 1481|
|   he| 1259|
|  his| 1128|
|  you| 1091|
|    I| 1049|
|Harry|  903|
| that|  890|
|  had|  824|
|   it|  771|
| with|  720|
|   at|  704|
|   --|  687|
|   on|  681|
+-----+-----+
only showing top 20 rows

In [14]:
sc.stop()